@model Timely.Models.Nota

@{
    ViewData["Title"] = "Eliminar Nota";
}


<h2>¿Estas seguro de eliminar el contenido? No es reversible.</h2>
<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar nota" class="btn btn-danger" /> |
        <a asp-action="MisNotas">Regresar a mis notas</a>
    </form>
</div>
